name: Docker SDET Tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build and Run Docker Tests
      run: |
        cd docker
        docker build -t sdet-tests .
        docker run --rm sdet-tests
    - name: Multi container
      run: |
        docker compose -f docker/docker-compose.yml up --build -d
        sleep 5
        curl http://localhost:8080/get
        docker compose -f docker/docker-compose.yml down

