name: Docker SDET Tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build and Run Docker Tests
      run: |
        docker build -t sdet-tests -f docker/Dockerfile .
        docker run -rm sdet-tests
    - name: Multi container
      run: |
        docker-compose up --build -d
        sleep 5
        curl http://localhost:8080/get
        docker-compose down

